<?xml version="1.0"  encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>

      <setting name="jdbcTypeForNull" value="NULL"/>

    </settings>



  <!-- 별칭 지정 -->
  <typeAliases>
    <!-- payment start : 신지혜 -->
    <typeAlias alias="pAuth" type="kr.or.ssff.payment.model.PaymentAuthDTO"/>

    <typeAlias alias="pAcnt" type="kr.or.ssff.payment.model.PaymentAcntDTO"/>
<!--    <typeAlias alias="pWithdraw" type="kr.or.ssff.payment.domain.PaymentWithdrawDTO"/>-->
<!--    <typeAlias alias="pDeposit" type="kr.or.ssff.payment.domain.PaymentDipositDTO"/>-->



    <!-- payment end : 신지혜 -->



  </typeAliases>



</configuration>