
.pagination .active a,
.pagination a:hover{
    color: #FFFFFF !important;
}



.checklist li{
    width: 8rem;
}

.checklist li:first-child{
    width: 5rem !important;
}

.mng_study_list td{
    vertical-align: center !important;
}



.mng_info {
    margin: 0 auto;
}

.mng_info table {
    border-collapse: separate;
    text-align: center;
}

.mng_info table tr td:nth-child(odd){
    width: 7rem;
    color: #ebab31;
    font-weight: 600;
}

.mng_info table tr td:nth-child(even){
    font-weight: 300;
}


.board_list .notice{
    background-color: LemonChiffon;
}

.board_list .notice:hover{
    background-color: palegoldenrod;
}


.board_list td{
    text-align: center;
}
.board_list tbody td:first-child,
.board_list tbody td:last-child{
    font-size: 1rem;
}

.study_board td{
    text-align: center;
    padding: 0.25rem;
}


.inline-flex{
    display: inline-flex;
}

.list-style-none{
    list-style: none;
}

.filter-shadow{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
}

.px-p15{
    padding:0 15% !important;
}