/*----페이지네이션----*/
.pagination .active a,
.pagination a:hover{
    color: #FFFFFF !important;
}

/*----체크리스트 필터----*/
.checklist li{
    width: 8rem;
}

.checklist li:first-child{
    width: 5rem !important;
}

/*----관리자 멤버 리스트----*/
.mng_user_list{
    vertical-align: center !important;
}

.mng_user_list td{
!important;
    text-align: center;
    vertical-align: center;
}

.mng_user_list td:first-child{
    width: 3rem;
}

/*----관리자 스터디 리스트----*/
.mng_study_list td{
    vertical-align: center !important;
}

.mng_info {
    margin: 0 auto;
}

.mng_info table {
    border-collapse: separate;
    text-align: center;
}

.mng_info table tr td:nth-child(odd){
    width: 7rem;
    color: #ebab31;
    font-weight: 600;
}

.mng_info table tr td:nth-child(even){
    font-weight: 300;
}


/*----스터디 게시판 게시글 리스트----*/

.board_list .notice{
    background-color: LemonChiffon;
}

.board_list .notice:hover{
    background-color: palegoldenrod;
}

.board_list td{
    text-align: center;
}
.board_list tbody td:first-child,
.board_list tbody td:last-child{
    font-size: 1rem;
}

/*----스터디 게시글----*/
.study_board td{
    text-align: center;
    padding: 0.25rem;
}