<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.ApplyMemberMapper">

	<!--  스터디 멤버 + 프로필사진(tn_member) + 스터디팀명(tn_recruit_board) 조회
	applyType = YA : 참여신청중인 study_join_arciwf = 'a'
	applyType = NA : 정상 가입중인 study_join_arciwf = 'i' 만
	rId : 해당 스터디의 정보만 가져오기 위해서 필요함

	: 신지혜  -->
	<select
		id="getApplyMemberList"
		parameterType="hashMap"
		resultType="kr.or.ssff.applyMember.domain.ApplyMemberListVO">


		SELECT
						a.apply_idx,
						a.r_idx,
						a.member_name,
						a.study_join_arciwf,
						a.study_join_change_date,
						a.study_boss_yn,
						a.attendance_days,
						r.teamname,
					  r.type_pc,
						m.member_profile
					FROM
						apply_member a
						JOIN recruit_board r on r.r_idx = a.r_idx
						JOIN member m on r.member_Name = m.member_Name

			WHERE
				a.r_idx = #{rId}
			  <if test='applyType == "YA"'>
          AND a.study_join_arciwf = 'a'
				</if>
				<if test='applyType == "NA"'>
					AND a.study_join_arciwf = 'i'
				</if>
<!--		<if test='memName != "admin"'>-->
<!--			AND a.member_name = #{memName}-->
<!--		</if>-->
		<!-- //TODO WHERE절 Test를 위해 and 조건 / 추후 단항조건으로 변경예정-->
	</select>


	<!--  전체 회원 조회 : 신지혜  -->
	<select
		id="getMemberList"
		resultType="kr.or.ssff.member.domain.MemberVO">

		SELECT /*+ index_asc(member) */ *
		FROM member

	</select>


	<!--  스터디 참여여부 조회 : 신지혜  -->
	<select
		id="selectApplyMember"
		parameterType="hashMap"
		resultType="String">

		SELECT
			member_name
		FROM
			apply_member
		WHERE
			member_name = #{member_name}
			AND r_idx = #{r_idx}

	</select>

	<!--  스터디 참여상태 조회 : 신지혜  -->
	<select
		id="selectApplyMemberStatus"
		parameterType="hashMap"
		resultType="kr.or.ssff.applyMember.domain.ApplyMemberVO">

		SELECT
			*
		FROM
			apply_member
		WHERE
			member_name = #{member_name}
			AND r_idx = #{r_idx}

	</select>


	<!-- 회원의 스터디 참여 상태 정보 변경 : 신지혜  -->
	<update id="applyAction" parameterType="hashMap" >


		<if test='action == "refusal"'> <!-- 가입신청->거절 -->
			UPDATE apply_member
			SET study_join_arciwf = 'r', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>
		<if test='action == "approval" and study_type == "p" or action=="payOK"'> <!-- 가입신청->승인 -->
			UPDATE apply_member
			SET study_join_arciwf = 'i', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>
		<if test='action == "approval" and study_type == "c"
or action == "fail"' > <!-- 챌린지가입신청->대기, 결제 실패시에도  -->
			UPDATE apply_member
			SET study_join_arciwf = 'g', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>
		<if test='action == "cancle"'> <!-- 가입신청->취소 -->
			UPDATE apply_member
			SET study_join_arciwf = 'c', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>
		<if test='action == "withdrawal"'> <!-- 스터디 탈퇴 -->
			UPDATE apply_member
			SET study_join_arciwf = 'w', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>

		<if test='action == "pay"'> <!-- 챌린지 참여결제 전 임시 상태 -->
			UPDATE apply_member
			SET study_join_arciwf = 'x', study_join_change_date = sysdate
			WHERE apply_idx =#{apply_idx}
		</if>

		<if test='action == "rollback"'> <!-- 모든 가입실패(결제x)건을 되돌리깅! -->
			UPDATE apply_member
			SET study_join_arciwf = 'g', study_join_change_date = sysdate
			WHERE study_join_arciwf = 'x'
		</if>

	</update>


	<!--  결제 임시상태인 참여회원 조회 : 신지혜  -->
	<select
		id="selectTempApplyMember"
		resultType="kr.or.ssff.applyMember.domain.ApplyMemberVO">

		SELECT
			APPLY_IDX,
			R_IDX,
			MEMBER_NAME,
      STUDY_JOIN_ARCIWF,
      STUDY_JOIN_CHANGE_DATE,
      STUDY_BOSS_YN,
      ATTENDANCE_DAYS
		FROM
			apply_member
		WHERE
			STUDY_JOIN_ARCIWF = 'x'

	</select>


	<!-- 회원의 참여 신청 : 신지혜  -->
	<insert id="insertApply" parameterType="hashMap">

		INSERT INTO
		APPLY_MEMBER (
		apply_idx,
		r_idx,
		member_name,
		study_join_arciwf,
		study_join_change_date,
		study_boss_yn
		)
		VALUES(
		'aid_'||apply_member_sqe.NEXTVAL,
		#{r_idx},
		#{member_name},
		<if test='boss == "n"'> <!-- 일반회원이라면 'a,n' 처리 21.12.01 지혜 if절 추가 -->
		'a',
		sysdate,
		'n'
		</if>
		<if test='boss == "y"'> <!-- 개설자라면 'i,y' 처리 -->
			'i',
			sysdate,
			'y'
		</if>
		)
	</insert>

</mapper>

