<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ssff.mapper.CalendarMapper">
  <!--일정 등록하기-->
  <insert id="insert">
    INSERT INTO CALENDAR_S (
    cal_id,cal_type,cal_events,update_time
    )
    VALUES(
    #{cal_id}, #{type}, #{cal_events}, sysdate)
  </insert>

  <!--일정 수정하기-->
  <update id="update">
    UPDATE calendar_s
    SET
      cal_events = #{cal_events}
    WHERE
      cal_id = #{cal_id}
  </update>

  <!--cal_id로 json data 가져오기-->
  <select id="getCalendarByCal_id" resultType="String">
    SELECT cal_events FROM calendar_s WHERE cal_id=#{cal_id}
  </select>

  <!--cal_id로 json data 가져오기-->
  <select id="getR_idxByMember_name" resultType="kr.or.ssff.applyMember.domain.ApplyMemberDTO">
    SELECT apply_idx, r_idx, member_name
    FROM apply_member
    WHERE member_name=#{cal_id}
  </select>

</mapper>


