<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.ManagerMapper">

    <select id="getMemberListPerPaging" resultType="kr.or.ssff.manager.domain.ManagerMemberVO">
        <![CDATA[
        select MEMBER_NO,
               MEMBER_NAME,
               MEMBER_ID,
               MEMBER_PWD,
               MEMBER_PROFILE,
               MEMBER_INTRODUCE,
               MEMBER_ENABLED,
               AUTHKEY,
               AUTHSTATUS
        from (select /*+ INDEX_DESC(member pk_member) */
                  ROWNUM rn,
                  MEMBER_NO,
                  MEMBER_NAME,
                  MEMBER_ID,
                  MEMBER_PWD,
                  MEMBER_PROFILE,
                  MEMBER_INTRODUCE,
                  MEMBER_ENABLED,
                  AUTHKEY,
                  AUTHSTATUS
              from MEMBER
              where ROWNUM <= #{pageNum} * #{amount})
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>
    <select id="countMemberCount" resultType="Integer">
        select count(*)
        from MEMBER
    </select>

    <select id="getSearchMemberPerPaging" resultType="kr.or.ssff.manager.domain.ManagerMemberVO">
       <![CDATA[
        select MEMBER_NO,
               MEMBER_NAME,
               MEMBER_ID,
               MEMBER_PWD,
               MEMBER_PROFILE,
               MEMBER_INTRODUCE,
               MEMBER_ENABLED,
               AUTHKEY,
               AUTHSTATUS
        from (select /*+ INDEX_DESC(member pk_member) */
                  ROWNUM rn,
                  MEMBER_NO,
                  MEMBER_NAME,
                  MEMBER_ID,
                  MEMBER_PWD,
                  MEMBER_PROFILE,
                  MEMBER_INTRODUCE,
                  MEMBER_ENABLED,
                  AUTHKEY,
                  AUTHSTATUS
              from MEMBER
              where ROWNUM <= #{pageNum} * #{amount}
                and (MEMBER_NAME like '%' || #{keyword} || '%' or MEMBER_ID like '%' || #{keyword} || '%'))
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="countMemberCountBy" resultType="Integer">
        select count(*)
        from MEMBER
        where (MEMBER_NAME like '%' || #{keyword} || '%' or MEMBER_ID like '%' || #{keyword} || '%')
    </select>

    <select id="getStudyListPerPaging" parameterType="hashMap" resultType="kr.or.ssff.manager.domain.ManagerStudyListByBossYVO">

        select R_IDX, TITLE, WRITEDATE,CH_START ,CH_END, CH_PATTERN, SIDO, MEMBER_NAME, TYPE_PC, TEAMNAME, DEAD_OK,CONT,REMOVED_OK,CLOSED_OK
        from (select /*+ INDEX_DESC(recruit_board PK_RECRUIT_BOARD) */
        ROWNUM rn,
        RB.R_IDX,
        RB.TITLE,
        RB.WRITEDATE,
        RB.CH_START,
        RB.CH_END,
        RB.CH_PATTERN,
        RB.SIDO,
        AM.MEMBER_NAME,
        RB.TYPE_PC,
        RB.TEAMNAME,
        RB.DEAD_OK,
        RB.CONT,
        RB.REMOVED_OK,
        RB.CLOSED_OK
        from RECRUIT_BOARD RB
        join APPLY_MEMBER AM on RB.R_IDX = AM.R_IDX
        where ROWNUM <![CDATA[<= #{map.pageNum} * #{map.amount}
                and am.STUDY_BOSS_YN = 'y']]>
        <if test="map!=null">
            <if test='map.action1!="OK"'>
                <if test='map.chk!=null'>
                    and RB.TYPE_PC in
                    <foreach close=")" collection="map.chk" item="item" open="(" separator=",">
                        #{item, jdbcType=VARCHAR}
                    </foreach>
                </if>
            </if>

            <if test='map.action2!="OK"'>
                <if test='map.chk2!=null or map.chk2 !="전체"'>
                    and AM.STUDY_JOIN_ARCIWF in
                    <foreach close=")" collection="map.chk2" item="item" open="(" separator=",">
                        #{item, jdbcType=VARCHAR}
                    </foreach>
                </if>
            </if>
        </if>
        <if test='map.keyword!=null or !map.keyword.equals("")'>
            and (AM.MEMBER_NAME like '%' || #{map.keyword} || '%' or RB.TEAMNAME like '%' || #{map.keyword} || '%')
        </if>
        )

        where rn > (#{map.pageNum} - 1) * #{map.amount}

    </select>

    <select id="countStudyCount" parameterType="hashMap" resultType="Integer">
        select count(RB.R_IDX)
        from RECRUIT_BOARD RB
        join APPLY_MEMBER AM on RB.R_IDX = AM.R_IDX
        join MEMBER M on M.MEMBER_NAME = AM.MEMBER_NAME
        where am.STUDY_BOSS_YN = 'y'
        <if test="map!=null">
            <if test='map.action1!="OK"'>
                <if test='map.chk!=null'>
                    and RB.TYPE_PC in
                    <foreach close=")" collection="map.chk" item="item" open="(" separator=",">
                        #{item,jdbcType=VARCHAR}
                    </foreach>
                </if>
            </if>

            <if test='map.action2!="OK"'>
                <if test='map.chk2!=null'>
                    and AM.STUDY_JOIN_ARCIWF in
                    <foreach close=")" collection="map.chk2" item="item" open="(" separator=",">
                        #{item,jdbcType=VARCHAR}
                    </foreach>
                </if>
            </if>
            <if test='map.keyword!=null or !map.keyword.equals("")'>
                and (AM.MEMBER_NAME like '%' || #{map.keyword} || '%' or RB.TEAMNAME like '%' || #{map.keyword} || '%')
            </if>
        </if>
    </select>
</mapper>


