<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ssff.mapper.StudyMapper">

  <!--insert문-->
  <insert id="insert">
    <selectKey keyProperty="r_idx" order="BEFORE" resultType="int">
      SELECT RECRUIT_BOARD_SQE.NEXTVAL
      FROM dual
    </selectKey>
    INSERT INTO RECRUIT_BOARD (
                               r_idx,member_name,type_pc,
                               title,teamname,cont,hit,writedate,
                               sido,ch_pattern,ch_start,ch_end
                               )
    VALUES(
        #{r_idx}, #{member_name}, #{type_pc}, #{title},#{teamname},
        #{cont},0,sysdate,#{sido},#{ch_pattern},#{ch_start},#{ch_end})
  </insert>

  <!--  게시판 목록 조회 -->
  <select id="getList" resultType="kr.or.ssff.study.domain.RecruitBoardVO">
    <![CDATA[
        SELECT
            /*+ index_desc(recruit_board) */
            r_idx, member_name, type_pc, title,
               teamname,cont,hit,writedate,sido,
               ch_pattern,ch_start,ch_end,removed_ok,closed_ok,dead_ok
        FROM recruit_board
        WHERE r_idx < 1000 and type_pc=#{type} and removed_ok='n'
    ]]>
  </select>

  <!--가장 최근에 쓴 게시글 번호 가져오기-->
  <select id="getCurrentR_idx" resultType="int">
<![CDATA[
    select max(r_idx) from recruit_board WHERE r_idx < 1000
    ]]>
  </select>

  <!--게시글 번호로 언어 태그 등록하기-->
  <insert id="insertTag">
    INSERT INTO lang (r_idx, lang_name) VALUES (#{r_idx},#{tag})
  </insert>

  <!--lang list 전체 가져오기-->
  <select id="getLangList" resultType="kr.or.ssff.study.domain.LangVO">
    SELECT r_idx,lang_name FROM lang
  </select>

  <!--글 하나 가져오기-->
  <select id="get" resultType="kr.or.ssff.study.domain.RecruitBoardVO">
    <![CDATA[
    SELECT
      r_idx, member_name, type_pc, title,
      teamname,cont,hit,writedate,sido,
      ch_pattern,ch_start,ch_end,removed_ok,closed_ok,dead_ok
    FROM recruit_board
    WHERE r_idx=#{r_idx}
    ]]>
  </select>

  <!--lang list 전체 가져오기-->
  <select id="getLangTags" resultType="kr.or.ssff.study.domain.LangVO">
    SELECT r_idx,lang_name
    FROM lang
    WHERE r_idx=#{r_idx}
  </select>

  <!--Apply insert문 제작중-->
  <insert id="insertApply">
    INSERT INTO APPLY_MEMBER (
    apply_idx,r_idx,member_name,study_join_arciwf,study_join_change_date,study_boss_yn,attendance_days
    )
    VALUES(
    )
  </insert>

  <update id="update">
    UPDATE recruit_board
    SET
      title = #{title},
      teamname = #{teamname},
      cont = #{cont},
      sido = #{sido},
      ch_pattern = #{ch_pattern}
    WHERE
      r_idx = #{r_idx}
  </update>




</mapper>


