<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ssff.mapper.StudyInsMapper">
    <delete id="remove">

        update SI_BOARD
        set REMOVED_OK='y'
        where CONT_NO = #{cont_No}

    </delete>

    <delete id="delete">

        delete
        from study_ins_file
        where cont_No = #{cont_No}

    </delete>

    <delete id="deleteFiles" parameterType="kr.or.ssff.studyIns.model.StudyInsFileDTO">
        delete
        from STUDY_INS_FILE
        where CONT_NO = #{cont_No}
    </delete>
    <insert id="insertBoard">
        insert into SI_BOARD(cont_No, member_name, r_idx, cont, category, title, REMOVED_OK, WRITE_DATE)
        values (#{cont_No}, #{member_Name}, #{r_Idx}, #{cont}, #{category}, #{title}, 'n', sysdate)


    </insert>


    <insert id="insertFiles" parameterType="java.util.List">
        insert into STUDY_INS_FILE(FILENO, CONT_NO,filename, uploadpath, uuid) select STUDY_INS_FILE_SQE.nextval, A.*from(
        <foreach collection="list" item="item" separator="UNION ALL ">
            select #{item.cont_No} as CONT_NO, #{item.file_Name} as FILE_NAME , #{item.uploadPath} as UPLOADPATH, #{item.uuid} as UUID from dual

        </foreach>) A
    </insert>


    <!-- 검색 조건 sql -->
    <select id="findMaxContNo" resultType="integer">
        select MAX(nvl2(CONT_NO, CONT_NO, 0))
        from SI_BOARD

    </select>

    <!-- 페이징 sql -->
    <select id="read" resultType="kr.or.ssff.studyIns.domain.StudyInsVO">

		<![CDATA[
        select CONT_NO,
               MEMBER_NAME,
               R_IDX,
               WRITE_DATE,
               MODIFY_DATE,
               REMOVED_OK,
               CONT,
               CATEGORY,
               TITLE,
               HIT
        from si_board
        where cont_No = #{cont_No}
          and REMOVED_OK = 'n'
        ]]>

	</select>
    <select id="getFileList" resultType="kr.or.ssff.studyIns.domain.StudyInsFileVO">
        select CONT_NO, FILENO, FILENAME, UPLOADPATH, UUID
        from STUDY_INS_FILE
        where CONT_NO = #{cont_No}
    </select>


    <select id="countArticle" resultType="integer">
        <choose>

            <when test="category=='전체'">
                select count(*)
                from SI_BOARD
                where REMOVED_OK = 'n' and CATEGORY!='공지'
            </when>

            <otherwise>
                select count(*)
                from SI_BOARD where REMOVED_OK='n' and CATEGORY=#{category} and CATEGORY!='공지'
            </otherwise>
        </choose>

    </select>


    <select id="getListWithPaging" resultType="kr.or.ssff.studyIns.domain.StudyInsVO">
        <choose>

            <when test="category =='전체'">
                <![CDATA[
        select CONT_NO,
               MEMBER_NAME,
               R_IDX,
               WRITE_DATE,
               MODIFY_DATE,
               REMOVED_OK,
               CONT,
               CATEGORY,
               TITLE,
               HIT
        from (select /*+INDEX_DESC(si_board pk_si_board) */
                  rownum rn,
                  CONT_NO,
                  MEMBER_NAME,
                  R_IDX,
                  WRITE_DATE,
                  MODIFY_DATE,
                  REMOVED_OK,
                  CONT,
                  CATEGORY,
                  TITLE,
                  HIT
              from SI_BOARD
              where rownum <= #{pageNum} * #{amount} and REMOVED_OK='n' and CATEGORY!='공지')
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
            </when>
            <otherwise>
                <![CDATA[
        select CONT_NO,
               MEMBER_NAME,
               R_IDX,
               WRITE_DATE,
               MODIFY_DATE,
               REMOVED_OK,
               CONT,
               CATEGORY,
               TITLE,
               HIT
        from (select /*+INDEX_DESC(si_board pk_si_board) */
                  rownum rn,
                  CONT_NO,
                  MEMBER_NAME,
                  R_IDX,
                  WRITE_DATE,
                  MODIFY_DATE,
                  REMOVED_OK,
                  CONT,
                  CATEGORY,
                  TITLE,
                  HIT
              from SI_BOARD
              where rownum <= #{pageNum} * #{amount}
                and CATEGORY = #{category} and REMOVED_OK='n')
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
            </otherwise>
        </choose>

    </select>


    <update id="update">
        update si_board
        set title=#{title},
            cont=#{cont},
            modify_Date=sysdate,
            category=#{category}
        where cont_No = #{cont_No}
    </update>

    <update id="updateHit">
        update SI_BOARD
        set HIT = HIT + 1
        where CONT_NO = #{cont_No}

    </update>

    <select id="showNotice" resultType="kr.or.ssff.studyIns.domain.StudyInsVO">
        select /*+INDEX_DESC(si_board pk_si_board) */
               CONT_NO,
               MEMBER_NAME,
               R_IDX,
               WRITE_DATE,
               MODIFY_DATE,
               REMOVED_OK,
               CONT,
               CATEGORY,
               TITLE,
               HIT
        from SI_BOARD
        where CATEGORY = '공지'
          and REMOVED_OK = 'n'
    </select>

    <select id="getChatList" resultType="kr.or.ssff.studyIns.model.ChatMsgDTO">
        select /*+INDEX_ASC(chat_msg pk_chat_msg) */ MSG_NO, MEMBER_NAME, R_IDX, MSG_CONT, SEND_TIME
        from CHAT_MSG where R_IDX=#{r_Idx}
    </select>
</mapper>