<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.ApplyMemberMapper">

	<!--  스터디 멤버 + 프로필사진(tn_member) + 스터디팀명(tn_recruit_board) 조회 : 신지혜  -->
	<select
		id="getApplyMemberList"
		parameterType="String"
		resultType="kr.or.ssff.applyMember.domain.ApplyMemberListVO">

		<![CDATA[
			SELECT
				/*+ member_name_asc(apply_member) */
				*
			FROM
				(
					SELECT
						a.apply_idx,
						a.r_idx,
						a.member_name,
						a.study_join_arciwf,
						a.study_join_change_date,
						a.study_boss_yn,
						a.attendance_days,
						r.teamname,
						m.member_profile
					FROM
						apply_member a
						JOIN recruit_board r on r.r_idx = a.r_idx
						JOIN member m on a.member_Name = m.member_Name
				)
			WHERE
				r_idx > #{r_idx} and r_idx < 9020
		]]>

		<!-- //TODO WHERE절 Test를 위해 and 조건 / 추후 단항조건으로 변경예정-->
	</select>


	<!--  전체 회원 조회 : 신지혜  -->
	<select
		id="getMemberList"
		resultType="kr.or.ssff.member.domain.MemberVO">

		SELECT /*+ index_asc(member) */ *
		FROM member

	</select>

	<!-- 회원의 스터디 참여 상태 정보 변경 : 신지혜  -->
	<update id="applyAction" parameterType="hashMap" >

		<choose>
			<when test="action == 'refusal'"> <!-- 가입신청->거절 -->
				UPDATE apply_member
				SET study_join_arciwf = 'r', study_join_change_date = sysdate
				WHERE apply_idx =#{apply_idx}
			</when>
			<when test="action == 'approval'"> <!-- 가입신청->승인 -->
				UPDATE apply_member
				SET study_join_arciwf = 'i', study_join_change_date = sysdate
				WHERE apply_idx =#{apply_idx}
			</when>
			<when test="action == 'cancle'"> <!-- 가입신청->취소 -->
				UPDATE apply_member
				SET study_join_arciwf = 'c', study_join_change_date = sysdate
				WHERE apply_idx =#{apply_idx}
			</when>
			<when test="action == 'withdrawal'"> <!-- 스터디 탈퇴 -->
				UPDATE apply_member
				SET study_join_arciwf = 'w', study_join_change_date = sysdate
				WHERE apply_idx =#{apply_idx}
			</when>
			<when test="action == 'fail'"> <!-- 가입실패(결제x) -->
				UPDATE apply_member
				SET study_join_arciwf = 'f', study_join_change_date = sysdate
				WHERE apply_idx =#{apply_idx}
			</when>
		</choose>

	</update>
</mapper>

