<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.CafeMapper">

  <select id="selectCafeList" resultType="kr.or.ssff.cafe.domain.CafeListVO">

    SELECT
      *
    FROM
      (
        SELECT

          c.cafe_main_title,
          c.cafe_sub_title,
          c.cafe_image_first,
          c.cafe_image_second,
          c.cafe_image_third,
          c.cafe_location,
          r.max_people,
          r.amount_hour,
          r.room_image,
          c.cafe_remove_yn,
          c.cafe_idx

        FROM
          cafe c
            JOIN room r on c.cafe_idx = r.cafe_idx
      )
    WHERE
      cafe_remove_yn ='n'

  </select>

</mapper>


