<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.manager.mapper.ManagerMapper">

    <select id="getMemberListPerPaging" resultType="kr.or.ssff.manager.domain.ManagerMemberVO">
        <![CDATA[
        select MEMBER_NO,
               MEMBER_NAME,
               MEMBER_ID,
               MEMBER_PWD,
               MEMBER_PROFILE,
               MEMBER_INTRODUCE,
               MEMBER_ENABLED,
               AUTHKEY,
               AUTHSTATUS
        from (select /*+ INDEX_DESC(member pk_member) */
                  ROWNUM rn,
                  MEMBER_NO,
                  MEMBER_NAME,
                  MEMBER_ID,
                  MEMBER_PWD,
                  MEMBER_PROFILE,
                  MEMBER_INTRODUCE,
                  MEMBER_ENABLED,
                  AUTHKEY,
                  AUTHSTATUS
              from MEMBER
              where ROWNUM <= #{pageNum} * #{amount})
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>
</mapper>


