<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ssff.mapper.CafeMapper">


<!-- 카페 리스트단 VIEW를 위한 카페 리스트 & 상세 룸 조회 : 신지혜 -->
  <select id="selectCafeList" resultType="kr.or.ssff.cafe.domain.CafeListVO">

    SELECT
      c.cafe_main_title,
      c.cafe_sub_title,
      c.cafe_image_first,
      c.cafe_image_second,
      c.cafe_image_third,
      c.cafe_location,
      c.cafe_idx,
      r.max_people,
      r.amount_hour,
      r.room_list
    FROM
      cafe c
        JOIN (
        SELECT
          cafe_idx,
          MAX(max_people) AS max_people,
          MIN(amount_hour) AS amount_hour,
          LISTAGG(room_image, ':') WITHIN GROUP (ORDER BY cafe_idx) AS room_list
        FROM
          room
        GROUP BY
          cafe_idx
      ) r ON c.cafe_idx = r.cafe_idx
    WHERE
      c.cafe_remove_yn = 'n'

  </select>


<!-- 카페 디테일 VIEW를 위한 카페 리스트 & 상세 룸 조회 : 신지혜 -->
  <select id="selectCafeJoinRoom"
				  parameterType="String"
				  resultType="kr.or.ssff.cafe.domain.CafeInfoVO" >

		SELECT
		  d.cafe_idx,
		  d.cafe_name,
		  d.cafe_telephone_number,
		  d.cafe_location,
		  d.cafe_open_time,
		  d.cafe_close_time,
		  d.cafe_contact_phone_number,
		  d.cafe_contact_email,
		  d.cafe_main_title,
		  d.cafe_sub_title,
		  d.cafe_details,
		  d.cafe_remove_yn,
		  d.cafe_image_first,
		  d.cafe_image_second,
		  d.cafe_image_third,
		  c.room_idx,
		  c.max_people,
		  c.amount_hour,
		  c.total_room_number,
		  c.room_image,
		  c.room_list
		FROM
		  (
		    SELECT
		      a.cafe_idx,
		      a.room_idx,
		      a.max_people,
		      a.amount_hour,
		      a.total_room_number,
		      a.room_image,
		      b.room_list
		    FROM
		      room a
		      JOIN (
		        SELECT
		          cafe_idx,
		          LISTAGG(room_image, ':') WITHIN GROUP (
		            ORDER BY
		              cafe_idx
		          ) AS room_list
		        FROM
		          room
		        GROUP BY
		          cafe_idx
		      ) b ON a.cafe_idx = b.cafe_idx
		  ) c
		  JOIN cafe d ON c.cafe_idx = d.cafe_idx
		WHERE
		  d.cafe_remove_yn = 'n'
		  AND d.cafe_idx = #{cafe_idx}
  </select>



	<!-- 온전히 카페 테이블 하나의 정보만 조회 : 신지혜 -->
	<select id="selectCafe"
		parameterType="String"
		resultType="kr.or.ssff.cafe.domain.CafeVO" >

		SELECT
			cafe_idx,
			cafe_name,
			cafe_telephone_number,
			cafe_location,
			cafe_open_time,
			cafe_close_time,
			cafe_contact_phone_number,
			cafe_contact_email,
			cafe_main_title,
			cafe_sub_title,
			cafe_details,
			cafe_remove_yn,
			cafe_image_first,
			cafe_image_second,
			cafe_image_third,
			boss_name,
			business_number

		FROM cafe

		WHERE cafe_idx = #{cafe_idx}
	</select>




	<!-- 예약관리 -->


	<!-- 신규 예약정보 등록 : 신지혜  -->
	<insert id="insertReservation" parameterType="kr.or.ssff.cafe.domain.ReservationDTO">

		<selectKey keyProperty="apply_idx" order="BEFORE" resultType="String">
			SELECT 'aid_'||apply_member_sqe.NEXTVAL
			FROM dual
		</selectKey>

		INSERT INTO
		APPLY_MEMBER (
		apply_idx,
		r_idx,
		member_name,
		study_join_arciwf,
		study_join_change_date,
		study_boss_yn
		)
		VALUES(
		#{apply_idx},
		#{r_idx},
		#{member_name},
		<!-- 일반회원이라면 'a,n' 처리 -->
		'a',
		sysdate,
		'n'
		<!-- 개설자라면 'i,y' 처리 -->

		)
	</insert>

	<!-- 특정일자, 특정 room 예약정보만 조회 : 신지혜 -->
	<select id="selectRoomRsrvList"

		resultType="kr.or.ssff.cafe.domain.RoomRsrvVO">

		SELECT
			a.room_idx,
			a.use_date,
			a.use_start_time,
			a.use_end_time,
			b.total_room_number
		FROM
			rsrv a
				JOIN room b ON a.room_idx = b.room_idx
		WHERE
			a.room_idx = #{room_idx}
			AND a.use_date = #{use_date}
			AND a.rsrv_status_ynz = 'y'

	</select>



</mapper>


